p {
    font-size: 25px;
    color: black;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    padding: 7px 10px 7px 10px;
    border: none;
    margin-top: 10px;
}

input {
    display: block;
    width: 250px;
    background-color:rgb(240, 240, 240);
    border: 1px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 15px;
}

.request-button {
    background-color: black;
    color: white;
    margin-right: 10px;
}

.schedule-button {
    color: black;
    background-color: rgb(240, 240, 240);
}